body{
  font-family: "Ubuntu", system-ui;
}
.title{
  background-color: #e06666;
}
h1{
  font-family: 'Courier New', Courier, monospace;
}
.container-fluid{
  padding: 3% 12%;
  padding-top: 5rem;
}
.nav-item{
  padding: 0 18px;
}
.img1{
  height: 30px;
}
.navbar{
  padding: 2% 10%;
}
.photo{
  height: 20%;
}

.navbar-brand{
  font-size: 2rem;
  font-weight: bold;
}